<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM_ParallelSuite" parallel="classes" thread-count="3">

    <!-- Run all test classes in parallel -->
    <test name="ParallelTestRun">
        <classes>
            <class name="testCases.TestCaseLogin" />
            <class name="testCases.TestCaseHomepage" />
            <class name="testCases.TestCasePIM" />
            <!-- <class name="testCases.TestCaseProfile" /> Uncomment if ready -->
        </classes>
    </test>

</suite>