
<!-- 🔹 Suite name and parallel mode -->
<suite name="OrangeHRM_ParallelSuite" parallel="false" thread-count="4">

 	<listeners>
        <listener class-name="utilities.ExtendReportManger"/>
    </listeners>

    <!-- ✅ Test 1: Login Tests -->
    <test name="LoginTests">
        <classes>
            <class name="testCases.TestCaseLogin"/>
        </classes>
    </test>

    <!-- ✅ Test 2: Homepage Tests -->
    <test name="HomepageTests">
        <classes>
            <class name="testCases.TestCaseHomepage"/>
        </classes>
    </test>

    <!-- ✅ Test 3: PIM Tests -->
    <test name="PIMTests">
        <classes>
            <class name="testCases.TestCasePIM"/>
        </classes>
    </test>

    <!-- ✅ Test 4: Profile Tests -->
    <test name="ProfileTests">
        <classes>
            <class name="testCases.TestCaseProfile"/>
        </classes>
    </test>

</suite>